:root {
  --transition-duration: 0.3s; /* Adjust transition duration as needed */
  --background-dark: #333333;
  --text-dark: #ffffff;
  --background-light: #ffffff;
  --text-light: #333333;
  --button-dark-bg: #007BFF;
  --button-dark-text: #ffffff;
  --button-light-bg: #333333;
  --button-light-text: #ffffff;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.debug {
  border: 1px solid red;
}

.debul {
  border: 1px solid blue;
}


body {
  background-color: var(--background-dark);
  color: var(--text-dark);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

body.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

button#themeToggle {
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--button-dark-bg);
  color: var(--button-dark-text);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

body.light-mode button#themeToggle {
  background-color: var(--button-light-bg);
  color: var(--button-light-text);
}

.fullbody {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  background-color: transparent;
  display: flex;
  align-content: center;
  transition: background-color var(--transition-duration);
  flex-direction: column;
  align-items: flex-end;
}


.title {
  margin-top: 1%;
  margin-right: 1% ;
  flex: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
}

#name,
#desc {
  font-size: 8vh;
  font-family: 'Trispace', sans-serif;
  padding: 1vh;
  text-align: right;
  transition: all var(--transition-duration);
}

#desc {
  font-size: 3vh;
}

.container {
  flex: 11;
  background: transparent; /* Update background for light mode */
  width: 100%;
  transition: background-color var(--transition-duration);
  overflow: hidden;
}

.navbar {
  background: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  align-self: flex-end;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.navbar-list li {
  font-size: 24px;
  color: var(--text-dark);
  transition: color var(--transition-duration);
  cursor: pointer;
  margin-right: 2rem;
}

.navbar-list li:hover {
  transform: scale(1.5);
  transition: color var(--transition-duration);
}


body.light-mode .navbar-list li {
  color: var(--text-light);
}

body:not(.fullscreen) .fa-expand-arrows-alt::before {
  content: "\f065"; /* The "expand" icon */
}

body.fullscreen .fa-expand-arrows-alt::before {
  content: "\f066"; /* The "compress" icon */
}

.navbar-list li a {
  color: var(--text-dark); /* Set link color */
}

body.light-mode .navbar-list li a {
  color: var(--text-light); /* Set link color */
}



/* Mobile viewport adjustments */
@media (max-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }


  .fullbody {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: transparent;
  }

  .title {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transition: background-color var(--transition-duration);
  }
  #name, #desc {
    font-size: 3rem;
    text-align: center;
  }
  #desc {
    font-size: 1rem;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .navbar-list li {
    font-size: 1rem;
  }
  
  /* Sticky navbar */
  .navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
  }

  .navbar {
    margin-right: 0;
    text-align: center;
    width: 100%;
  }

  .navbar-list li {
    font-size: 1rem;
    margin-right: 0.5rem;
  }


}