:root {
  --transition-duration: 0.5s; 
  --background-dark: #333333;
  --text-dark: #ffffff;
  --background-light: #ffffff;
  --text-light: #333333;
  --button-dark-bg: #007BFF;
  --button-dark-text: #ffffff;
  --button-light-bg: #333333;
  --button-light-text: #ffffff;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.debug {
  border: 1px solid red;
}

.debul {
  border: 1px solid blue;
}


body {
  background-color: var(--background-dark);
  color: var(--text-dark);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

body.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

button#themeToggle {
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--button-dark-bg);
  color: var(--button-dark-text);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

body.light-mode button#themeToggle {
  background-color: var(--button-light-bg);
  color: var(--button-light-text);
}

body:not(.fullscreen) .fa-expand-arrows-alt::before {
  content: "\f065"; /* The "expand" icon */
}

body.fullscreen .fa-expand-arrows-alt::before {
  content: "\f066"; /* The "compress" icon */
}

body.light-mode .navbar-list li a {
  color: var(--text-light); 
  transition: all var(--transition-duration), color var(--transition-duration);
}

.main {
  display: flex;
  flex-direction: column;

  font-family: 'Trispace', sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;

}


.title {
  display: flex ; 
  flex-direction: column;
  width: 100%;
  text-align: right;
}

#head,
#subhead {
  margin: 2vh 2rem 1vh 1vh;
  font-size: 4rem;
}

#subhead {
  margin-top: 0.5vh;
  font-size: 2rem;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
}

.navbar-list li {
  justify-self: flex-end;
  margin-right: 2rem ;
  font-size: 24px;
  color: var(--text-dark);
  transition: color var(--transition-duration);
  cursor: pointer;
}

.navbar-list li:hover {
  transform: scale(1.5);
  transition: color var(--transition-duration);
}

.navbar-list li a {
  color: var(--text-dark); /* Set link color */
}

body.light-mode .navbar-list li {
  color: var(--text-light);
}

.container {
  flex: 100;
  height: 100%;
  width: 50%;
  align-self: flex-end;
  text-align: justify;
  overflow: hidden;
}