.fullbody {
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0px;
    background-color: transparent;
    display: flex;
    align-content: center;
}

.debug {
  border: 1px solid red;
}

.main {
  margin: 0%;
  width : 100%;
  flex : 2;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title{
  flex: 2;
  margin: 0%;
  width : 100%;
  display: flex;
}

.container {
  flex : 11 ; 
  background: tra;
  width: 100%;
}

#name {
  font-size: 8vh;
  color: white;
  font-family: 'Trispace', sans-serif;
  width: 100%;
  margin: 1vh;
  padding: 1vh;
  text-align: right;
  transition: all 200ms ease-in-out;
}

#name:hover {
  font-size: 10vh;
}

#desc {
  font-size: 3vh;
  color: white;
  font-family: 'Trispace', sans-serif;
  width: 100%;
  padding: 1vh;
  text-align: right;
  transition: all 200ms ease-in-out;
}

#desc:hover{
  font-size: 4vh;
}

.blog-space {
  margin: 0%;
  flex: 1;
  transition: all 300ms ease-in-out ;
}

.blog-space:hover {
  flex-grow: 3;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: -1; */
}
